div.pages {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
  background-color:rgba(112, 101, 101, 0.21);
  overflow-x:hidden ;

}

/* Font for Header */

@font-face {
  font-family: "Chakra Petch", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap');
}

header {
  font-family: 'Chakra Petch';
  background-color: #8B0000; 
  color: white; 
  padding: 0px 20px; 
  margin-bottom:0px;
}

.Container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

h1 {
  margin: 0; 
  font-size: 24px; 
}

a {
  text-decoration: none;
  color: white; 
}

a:hover {
  text-decoration: underline;
}

.pages {
  padding: 20px; 
}

.Menu {
  display: inline-flex;
  width: 20%;
  padding: 5px;
  justify-content: space-evenly;
}

.Menu, li {
  list-style: none;
  font-size: 20px;
  font-weight: 100;
}

@media (max-width: 900px) {
  .Menu {
    display: inline;
  }

@media (max-width: 585px) {

  Header {
    height: 50px;
    font-family: "Chakra Petch", sans-serif;
  }

  .Menu {
    display:none;
  }

  .MenuButton {
    display: block;
    cursor: pointer;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
  }

  .Menu.Show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    height: 15%;
  }
}

}


@media (min-width:585px) {
  .MenuButton {
    display: none;
  }
}

