div.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}

div.codeContainer {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 12vh;
    background-color: white;
    border:1px solid;
    border-radius: 20px;
    padding: 10px;
}

input.codeInput {
    border: 1px solid;
    border-radius: 15px;
    padding: 2%;
    width: 30%;
    height: 20%;
    align-self: center;
    justify-self: right;
    margin-left: auto;
    font-size: 24px;
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 5px;

}

input.year {
    border: 1px solid;
    border-radius: 15px;
    padding: 2%;
    width: 5%;
    height: 20%;
    font-size: 24px;
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal; 
    margin-left: 5px;
}

input.make {
    border: 1px solid;
    border-radius: 15px;
    padding: 2%;
    width: 8%;
    height: 20%;
    font-size: 24px;
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
}

input.model {
    border: 1px solid;
    border-radius: 15px;
    padding: 2%;
    width: 15%;
    height: 20%;
    font-size: 24px;
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
}

button.searchButton {
    margin-left:30%;
    margin-right:5px;
    justify-self: right;
    height:70%;
    width: 9%;
    font-family: "Chakra Petch", serif;
    font-weight: 600;
    font-size: 1.75em;
    border-radius: 15px;
}

button.searchButton:active {
    color:white;
    background-color: black;
}

div.resultContainer {
    width: 91.204%;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
}